body {
  display: flex;
  justify-content: start;
  align-items: center; /* Centers horizontally */
  flex-direction: column; /* Centers vertically */
}

nav {
  font-size: 2em;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.2em 1em;
    margin: 0.5em;
    align-items: center;
    justify-content: center;
  }

  li {
    padding: 0;
  }
}

#submission-form {
  display: flex;
  height: 50vh;
  gap: 0.5em;

  textarea {
    width: 70vw;
  }

  button {
    width: 20vw;
  }
}

#viewer-table {
  border: 1px solid;

  th,
  td {
    border: 1px solid;
    padding: 0.2em 0.2em;
  }
}

.break-hard {
  hyphens: auto;
  overflow-wrap: anywhere;
}
