{% extends "base.html" %}

{% block title %}Diary | Viewer{% endblock %}

{% block content %}
<details>
  <summary>Show Filters</summary>
  <form id="filter-form" method="get">
    <table>
      <!-- <tr>
        <td><label for="match_type">Search Type</label></td>
        <td>
          <select name="match_type">
            <option>icontains</option>
            <option>iexact</option>
          </select>
        </td>
      </tr>

      <tr>
        <td><label for="search_term">Search Term</label></td>
        <td><input name="search_term" /></td>
      </tr> -->

      <tr>
        <td><label for="limit">Limit</label></td>
        <td><input name="limit" type="number" value="{{ limit }}" min="0"/></td>
      </tr>

      <tr>
        <td><label for="offset">Offset</label></td>
        <td><input name="offset" type="number" value="{{ offset }}" min="0" max="{{ total }}"/></td>
      </tr>

      <!-- <tr>
        <td><label for="before_date">Before</label></td>
        <td><input name="before_date" type="date" /></td>
      </tr>

      <tr>
        <td><label for="after_date">After</label></td>
        <td><input name="after_date" type="date" /></td>
      </tr> -->
    </table>
    <button type="submit">Submit</button>
  </form>
</details>

<nav class="menu">
  <ul>
    {% if prevOffset < offset %}
    <li><a href="/viewer?limit={{ limit }}&offset=0">Latest</a></li>
    <li><a href="/viewer?limit={{ limit }}&offset={{ prevOffset }}">Prev</a></li>
    {% endif %}
  </ul>
</nav>

<div>Total Notes: {{ total }}</div>

<table id="viewer-table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.datetime.strftime("%Y-%m-%d (%a) %H:%M:%S") }}</td>
      <td>{{ entry.note }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav class="menu">
  <ul>
    {% if nextOffset > offset %}
    <li><a href="/viewer?limit={{ limit }}&offset={{ nextOffset }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
